// --------------------------------------------------------------------------
//  Copyright 2013 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

WRAPPER_EXTENSION = preferencePane

PRODUCT_NAME=$(TARGET_NAME)

OTHER_LDFLAGS = -undefined dynamic_lookup
LD_RUNPATH_SEARCH_PATHS = @loaderpath/Contents/MacOS
